.banner{
    background-color: rgb(23, 23, 65);
    width: 100%;
    height: 100px;
    border: 1px solid rgb(23, 23, 65);
    margin-bottom: 0%;
    padding-bottom: 0%;
    border-bottom: none;
}
.bond{
    background-color: rgb(23, 23, 65);
}

.header{
    background-color: rgb(23, 23, 65);
    margin-top: 20px;
    max-width: 100%;
    max-height: fit-content;
    display: flex;
    margin-top: ;
}
.header1 h1{
    color: white;
    text-align: left;
    padding-left: 100px;
    padding-top: 70px;
}
.header1 p{
    color:  white;
    font-size: 20px;
    text-align: left;
    border: none;
    max-width: 50%;
    line-height: 1.5;
    padding-left: 100px;
    
}
.header img{
    border: 2px solid rgb(23, 23, 65);
    border-radius: 10000px;
    padding-left: 10px;
    width: 400px;
    height: 400px;
    margin-left: 10px;
    justify-content: right;
    margin-bottom: 10px;
    margin-top: -30px;
}
.header img:hover{
    transform: scale(1.05);
    transition: transform 0.3s;
}
.explorebtn{
    background-color: rgb(72, 72, 238);
    color: white;
    border: 2px solid rgb(56, 56, 132);
    border-radius: 10px;
    padding: 20px 10px;
    margin-right: auto;
    cursor: pointer;
    font-size: 14px;
    width: 150px;
    margin-left: 35px;
}
.explorebtn:hover{
    background-color: white;
    color: rgb(56, 56, 132);
    transition: 0.5s ease-in-out;
    transform: scale(1.05);
}
.contactus{
    background-color: white;
    color: rgb(56, 56, 132);
    border: 2px solid rgb(56, 56, 132);
    border-radius: 10px;
    padding: 20px 10px;
    cursor: pointer;
    font-size: 14px;
    width: 150px;
}
.contactus:hover{
    background-color: rgb(56, 56, 132);
    color: white;
    transition: 0.5s ease-in-out;
    transform: scale(1.05);
}
.mini{
    background-color: rgba(183, 183, 212, 0.5);
    align-items: center;
    text-align: center;
    margin-bottom: 100px;
    margin-top: -15px;
}
.title2{
    color: rgb(23, 23, 65);
    font-size: 24px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding-top: 20px;
}
.subtitle2{
    color: rgb(23, 23, 65);
    font-size: 20px;
    padding: 0 50px 0px 50px;
    width: 50%;
    margin: auto;
}
.solar{
    width: 400px;
    height: fit-content;
    padding: 0px;
    padding-bottom:50px;
    border: none;
    border-radius: 10px;
    rotate: clockwise(90deg);
}
/*
@media only screen and (max-width: 768px) {
    .header{
        flex-direction: column;
        align-items: center;
    }
    .header img{
        margin: 20px 0 0 0;
        width: 80%;
        height: auto;
        border-left: none;
        padding-left: 0;
    }
    .header1 p{
        max-width: 90%;
        text-align: center;
    }
}*/
.header3{
    text-align: center;
    background-color:white;
    max-height: fit-content;
    margin-bottom: -250px;
}
.title3{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 25px;
    color: rgb(23, 23, 65);
}
.subtitle3{
    color: rgb(11, 11, 31);
    font-size: 20px;
    padding-left: 100px;
    padding-right: 100px;
}
.grid{
    border: 2px solid white;
    margin-left:100px;
    margin-right:100px;
    margin-bottom:100px;
    padding-left: 200px;
    padding-right: 200px;
    padding-bottom: 200px;
    display: grid;
    background-color:none;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}
.planet{
    height: auto;
    width: 100%;
    border-radius: 10px;
}
.planet:hover{
    transform: scale(1.05);
    transition: 0.5s ease-in-out;
}
div.header4{
    background-color: rgba(183, 183, 212, 0.5);
    text-align: justify;
    max-height: fit-content;
    border-top: 2px double black;
    margin-bottom: 10px;
}
.title4{
    color:  rgb(23, 23, 65);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 25px;
    padding-left: 20px;
}
.subtitle4{
    color: rgb(11, 11, 31);
    font-size: 20px;
    padding-left: 20px;
}
.infobox{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.name{
    border: 2px solid black;
    width: 300px;
    height: 35px;
    padding-left: 10px;
    margin-left: -300px;
    margin-top:-10px;
    border-radius: 10px;
    
}
.email{
    border: 2px double black;
    width: 200px;
    height: 35px;
    margin-left: -300px;
    margin-top: 10px;
    border-radius: 10px;
    padding-left: 10px;
}
.city{
    border: 2px solid black;
    width: 200px;
    height: 35px;
    margin-left: -300px;
    margin-top: 10px;
    border-radius: 10px;
    padding-left: 10px;
}
.message{
    border: 2px solid black;
    width: 100%;
    height: 150px;
    margin-left: -300px;
    margin-top: 10px;
    border-radius: 10px;
    padding-left: 10px;
    
    /*justify-content:left;/*horizontal alignment*/
    /*align-items:bottom ;/*vertical alignment*/*/
}
.submit{
    background-color: rgb(52, 52, 210);
    color: white;
    border: 2px solid rgb(56, 56, 132);
    border-radius: 10px;
    padding: 10px 20px;
    margin-left: 30px;
    cursor: pointer;
    font-size: 14px;
    width: 300px;
    margin-top: 10px;
    margin-bottom: 20px;
}
p.about{
    padding-left: 30px;
    color:rgb(23, 23, 31)
}
.footer{
    background-color: rgb(23, 23, 65);
    margin-top: -22px;
}
h1.about{
    color: white;
    padding-left: 50px;
    padding-top: 20px
}
p.aboutt{
    color: white;
    padding-left: 50px;
    margin-bottom: 30px;
    font-size: 18px;
    border-bottom: 2px solid white;
}
p.rights{
    color: white;
    padding-left: 50px;
    font-size: 12px;
    margin-bottom: 20px;
}